@{
    ViewBag.Title = "Home Page - Week 7 Code Challenge";
}


<div class="container">
    <div id="div1">
        <img class ="full-width"src="http://tinyurl.com/lf-suhbg"/>
    </div>
    <div class="row">
        <div id="div2" class="col-md-3">
            <h3>TITLE</h3>
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.

        </div>

        <div id="div3" class="col-md-3">
            Each div is 1/3 width with a border the same color as the header, 1px, solid. Allow for spacing between each div.

        </div>

        <div id="div4" class="col-md-3">
            <h3>TITLE</h3>
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.

        </div>
    </div>
</div>